<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <title>Social Image Example</title>
  </head>
  <body onload=createDivForEachImage()>
    <script type="text/javascript">
      var maxWidth = 1024;
      var maxHeight = 768;
      var divs=new Array();
      var basicDrawer = new BasicDrawer();
      var advancedDrawer = new AdvancedDrawer();
      var personalDrawer = new PersonalDrawer();
      var drawer = basicDrawer;
      
      function sortImgByID(a, b) {
        if (a.id < b.id) {
          return -1; 
        } 
        if (a.id > b.id) {
          return 1; 
        }
        return 0;
      }
      function sortImgBySize(a, b) {
        var imgs = a.getElementsByTagName("img");
        var heightA = imgs[0].height;
        var widthA = imgs[0].width;

        imgs = b.getElementsByTagName("img");
        var heightB = imgs[0].height;
        var widthB = imgs[0].width;

        return heightB * widthB - heightA * widthA;
      }

      function increaseCount(id, event) {
        element = document.getElementById(id);
        redraw(id, event.which);
      }


      function BasicDrawer() {};
      BasicDrawer.prototype.resizeImages = function(id, which) {

        for (var i = 0; i < divs.length; i++) {
          var imgs = divs[i].getElementsByTagName("img");
          var height = imgs[0].height;
          var width = imgs[0].width;

          if (divs[i].id == id) {
            if (which == 1) {
              imgs[0].setAttribute("width", width * 1.1);
              imgs[0].setAttribute("height", height * 1.1);
            } else {
              imgs[0].setAttribute("width", width * 0.9);
              imgs[0].setAttribute("height", height * 0.9);
            }
          }
        }
      }

      BasicDrawer.prototype.placeImages = function() {
        divs.sort(sortImgByID);

        var isTooBigImgs = true;
        while(isTooBigImgs) {
          var topPos = 100;
          var leftPos = 0;
          isTooBigImgs = false;
          var rowHeight = 0;
          for (var i = 0; i < divs.length; i++) {
            var imgs = divs[i].getElementsByTagName("img");
            var height = imgs[0].height;
            var width = imgs[0].width;
            if (width > maxWidth) {
              isTooBigImgs = true;
              break;
            }
            if (leftPos + width > maxWidth) {
              topPos += rowHeight;
              leftPos = 0;
              rowHeight = 0;
            } 
            if ((topPos + height - 100) > maxHeight) {
              isTooBigImgs = true;
              break;
            }
            divs[i].style.top = Math.round(topPos) + "px";
            divs[i].style.left = Math.round(leftPos) + "px";
            leftPos += width;
            if (height > rowHeight) {
              rowHeight = height; 
            }
          }
	
          if (isTooBigImgs) {
            for (var i = 0; i < divs.length; i++) {
              var imgs = divs[i].getElementsByTagName("img");
              var height = imgs[0].height;
              var width = imgs[0].width;
              imgs[0].setAttribute("width", width * 0.95);
              imgs[0].setAttribute("height", height * 0.95);
            }
          }
        }
      }

      function AdvancedDrawer() {
      }
      AdvancedDrawer.prototype.resizeImages = function(id, which) {
	var initialArea = getTotalArea();
	console.log("Initial Total Area: " + initialArea);
	
	for (var i = 0; i < divs.length; i++) {
		var imgs = divs[i].getElementsByTagName("img");
		var height = imgs[0].height;
		var width = imgs[0].width;
		var delta = 0.1 * height * width;
		var area = 0;
		if (divs[i].id == id) {
			if (which == 1) {
				area = getTotalArea();
				console.log("Total Area: " + area);	
				imgs[0].setAttribute("width", (width*Math.sqrt(1.1)));
				imgs[0].setAttribute("height", (height*Math.sqrt(1.1)));
				decrementImages(imgs[0], delta, area);
				area = getTotalArea();
				console.log("Total Area Final: " + area);
			}
		}
	}

	function decrementImages(currentImage, delta, area) {
		var remainingArea = getRemainingArea(currentImage);
		var decreaseAmount = (remainingArea - delta)/remainingArea;
		for (var i = 0; i < divs.length; i++) {
			var imgs = divs[i].getElementsByTagName("img");
			if (imgs[0] != currentImage) {
				imgs[0].setAttribute("height", (imgs[0].height * Math.sqrt(decreaseAmount)));		
				imgs[0].setAttribute("width", (imgs[0].width * Math.sqrt(decreaseAmount)));		
			}
		}
		
	}

	function getRemainingArea(currentImage) {
		var area = 0;
		for (var i = 0; i < divs.length; i++) {
			var imgs = divs[i].getElementsByTagName("img");
			if (imgs[0] != currentImage) {
				var h = imgs[0].height;
				var w = imgs[0].width;
				area = (h*w) + area;
			}
		}
		
		return area;
	}

	function getTotalArea(imgs) {
		var area = 0;
		for (var i = 0; i < divs.length; i++) {
			var imgs = divs[i].getElementsByTagName("img");
			var h = imgs[0].height;
			var w = imgs[0].width;
			area = (h*w) + area;
		}
	
		return area;
	}

	
}


	states = [
		{
			'name': 'right',
			'events': {
				'changeDirection': 'down',
				'keepDirection': 'right'
			}
		},

		{
			'name': 'down',
			'events': {
				'changeDirection': 'left',
				'keepDirection': 'down'
			}
		},

		{
			'name': 'left',
			'events': {
				'changeDirection': 'up',
				'keepDirection': 'left'
			}
		},

		{
			'name': 'up',
			'events': {
				'changeDirection': 'right',
				'keepDirection': 'up'
			}
		},

		{
			'name': 'initialState',
			'initial': true,
			'events': {
				'changeDirection': 'right',
				'keepDirection': 'right'
			}
		},

	];

      AdvancedDrawer.prototype.placeImages = function() {
	divs.sort(sortImgBySize);		

	stateMachine = new StateMachine(states);

	for (var i=0; i<divs.length; i++) {
		var imgs = divs[i].getElementsByTagName("img");
		var currentState = stateMachine.getStatus();	
		
		var height = imgs[0].height;
		var width = imgs[0].width;		

		var leftBorder;
		var topBorder;

		var xLoc;
		var yLoc;

		if (currentState == 'initialState') {
			topBorder = (maxHeight - height) / 2;
			leftBorder = (maxWidth - width) / 2;

			xLoc = leftBorder;
			yLoc = topBorder;
			
			var topRight = {x: (leftBorder + width), y: (topBorder)};
			var bottomRight = {x: (leftBorder + width), y:(topBorder + height)};
			var bottomLeft = {x: (leftBorder), y:(topBorder + height)};
			var topLeft = {x: (leftBorder), y:(topBorder)};

			stateMachine.consumeEvent('changeDirection');
			leftBorder += width;

		} else if (currentState == 'right') {
			xLoc = leftBorder;
			yLoc = topBorder;

			if ((leftBorder + width) > (topRight.x)) {
				stateMachine.consumeEvent('changeDirection');
				leftBorder = topRight.x;
				topBorder += height;
			} else  {
				stateMachine.consumeEvent('keepDirection');
				leftBorder += width;
			}

		} else if (currentState == 'down') {
			xLoc = leftBorder;
			yLoc = topBorder;

			if ((topBorder + height) > (bottomRight.y)) {
				stateMachine.consumeEvent('changeDirection');
				topBorder = bottomRight.y;
				leftBorder -= width;
			} else  {
				stateMachine.consumeEvent('keepDirection');
				topBorder += height;
			}


		} else if (currentState == 'left') {
			xLoc = leftBorder;
			yLoc = topBorder;

			if ((leftBorder) < (bottomLeft.x)) {
				stateMachine.consumeEvent('changeDirection');
				leftBorder -= width;
				topBorder -= height;
			} else  {
				stateMachine.consumeEvent('keepDirection');
				leftBorder -= width;
			}

		} else if (currentState == 'up') {		
			xLoc = leftBorder;
			yLoc = topBorder;

			if ((topBorder) < (topLeft.y)) {
				stateMachine.consumeEvent('changeDirection');
				topBorder -= height;
				leftBorder += width;
			} else  {
				stateMachine.consumeEvent('keepDirection');
				topBorder -= height;
			}
		}

		divs[i].style.top = yLoc + "px";
		divs[i].style.left = xLoc + "px";
	}
	
	function StateMachine(states) {
		this.states = states;
		this.indexes = {};

		for (var i=0; i<this.states.length; i++) {
			this.indexes[this.states[i].name] = i;
			if (this.states[i].initial)
				this.currentState = this.states[i];
		}

		this.consumeEvent = function(e) {
			if (this.currentState.events[e]) {
				this.currentState = this.states[this.indexes[this.currentState.events[e]]];
			}
		}
	
		this.getStatus = function() {
			return this.currentState.name;
		}
	}
}


      function PersonalDrawer() {}
      PersonalDrawer.prototype.resizeImages = function(id, which) {
	for (var i = 0; i < divs.length; i++) {
		var imgs = divs[i].getElementsByTagName("img");
		var height = imgs[0].height;
		var width = imgs[0].width;
		var delta = 0.1 * height * width;
		var area = 0;
		if (divs[i].id == id) {
			if (which == 1) {
				imgs[0].setAttribute("width", (width*Math.sqrt(1.2)));
				imgs[0].setAttribute("height", (height*Math.sqrt(1.2)));
			}
		}
	}
		
      }
      PersonalDrawer.prototype.placeImages = function() {
		drawer = basicDrawer;
		drawer.placeImages();
		drawer = personalDrawer;
      }

      function redraw(id, which) {
        drawer.resizeImages(id, which);
        drawer.placeImages();
      }

      function changeState(id) {
        if (id == "basicBtn") {
          drawer = basicDrawer;
        } else if (id == "advancedBtn") {
          drawer = advancedDrawer;
        } else if (id == "personalBtn") {
          drawer = personalDrawer;
        }
        drawer.placeImages();
      }

      function createDivForEachImage() {
        var imgName=["EPI", "AFI", "ACP", "CC", "CP", "DP", "EJ", "HFDP", "IA"]; 
        var imgWidth=[268, 266, 284, 302, 297, 321, 318, 346, 356];

        var topPos = 100;
        var leftPos = 0;

        for (var i = 0; i < imgName.length; i++) {
          var div =  document.createElement("div");
          div.id=imgName[i];
          div.onmousedown= function() { increaseCount(this.id, arguments[0] || event); };
          div.innerHTML="<img src=\"img/" + imgName[i] + ".png\">";
          div.style.position ="absolute";

          if ((leftPos + imgWidth[i]) > maxWidth) {
            topPos += 400;
            leftPos = 0;
          }

          div.style.left = leftPos + "px";
          div.style.top = topPos + "px";
          leftPos += imgWidth[i];

          var imgs = div.getElementsByTagName("img");
          imgs[0].setAttribute("width", imgWidth[i]);
          imgs[0].setAttribute("height", 400);

          divs[i] = div; 
          document.body.appendChild(div);
        }
        drawer.placeImages();
      }

    </script>
    <div id="basicBtn" style="position: absolute; left: 0px; top: 0px" onmousedown="changeState(this.id)">
      <img src="btn/basic.png"/>
    </div>
    <div id="advancedBtn" style="position: absolute; left: 100px; top: 0px" onmousedown="changeState(this.id)">
      <img src="btn/advanced.png"/>
    </div>
    <div id="personalBtn" style="position: absolute; left: 200px; top: 0px" onmousedown="changeState(this.id)">
      <img src="btn/personal.png"/>
    </div>
  </body>
</html>
